<div>
    <h1 id="listing-page-title">Offers from local sponsor-seekers</h1>
    <div id="rangediv">
        <md-input-container class="md-icon-float md-block">
            <input name="query" ng-model="query" id="query"
                   placeholder="Search by Title"  value="" autofocus>
        </md-input-container>



        <md-input-container class="md-icon-float md-block">
            <input name="zipCode" id="zipCode" ng-model="zipCode" value="" placeholder="Search by zip code" autofocus>
        </md-input-container>




        <md-input-container class="md-icon-float md-block" id="inputLowerEnd">
            <input name="lowerEnd" id="lowerEnd" type="number"  ng-model="lowerEnd" placeholder="min amount" class="search" autofocus>
        </md-input-container>

        <md-input-container class="md-icon-float md-block" id="inputUpperEnd">
            <input id="upperEnd" type="number" ng-model="upperEnd" name="upperEnd" placeholder="max amount" class="search" autofocus>
        </md-input-container>
    </div>
    <md-list>
        <md-list-item aria-label="Sponsors" ng-click="$ctrl.details(listing)" class="noright" ng-repeat="listing in $ctrl.listings" ng-show="listing.type=='Sponsor Seeking' && $ctrl.queryAll(query,lowerEnd,upperEnd,listing,zipCode)">
            <!--<md-icon><ng-md-icon icon="insert_drive_file"></ng-md-icon></md-icon>-->
            <div class="panel panel-info">
                <div class="panel-heading"> {{listing.title}} </div>
                <div class="panel-body">
                    Amount: {{listing.amount}}<br>
                    Postcode: {{listing.postcode}}
                </div>
            </div>
            <!--<md-divider ng-if="!$last"></md-divider>-->
        </md-list-item>
        <md-divider></md-divider>

    </md-list>
</div>