<div>
<h1 id="listing-page-title">Offers from local sponsors</h1>
<md-list>
    <md-list-item aria-label="Sponsors" ng-click="$ctrl.details(listing)" class="noright" ng-repeat="listing in $ctrl.listings">
        <!--<md-icon><ng-md-icon icon="insert_drive_file"></ng-md-icon></md-icon>-->
        <div class="panel panel-info">
            <div class="panel-heading"> {{listing.title}} </div>
            <div class="panel-body">
                Amount: {{listing.amount}}<br>
                Postcode: {{listing.postcode}}
            </div>
        </div>
        <!--<md-divider ng-if="!$last"></md-divider>-->
    </md-list-item>
    <md-divider></md-divider>

</md-list>
</div>