<!--<div id="index-page-title">
SponsR
</div>-->
<div layout="column" layout-padding="">
	<span flex="20"></span>
	<md-content id="index-page-description">
		<h1 id="index-page-title" style="font-family: 'Carrois Gothic SC', sans-serif;">SponsR <small>Find your partners.</small></h1>

		<blockquote>
			<p>
				<b>Ever wanted to elevate you and your sports club to the next level?</b>
				<b>Feel like improving its financial possibilities?</b>
			</p>
			<p>
				SponsR is your way to go! We offer all the above and a lot more. We at SponsR provide and easy to use platform,
				to find your perfect sponsor or sponsor seeker. It is an easy way for both of you to connect to each other. Our
				matching system allows you to find offers that perfectly fit both sides at the same time.
			</p>
			<ul>
				<li>Create a new search listing or search for existing sponsoring offer,</li>
				<li>Find sponsor seekers or create your own sponsoring offer,</li>
				<li>Profit from legal advices and tips on how to present your offer,</li>
				<li>and more!</li>
			</ul>
			<p>
				SponsR allows everyone to choose an easy way to find the perfect match.
			</p>
			<p>
				<b>Not sure what you can expect or ask for?</b>
			</p>
			<p>Our tutorial section provides all the information you need for a successful sponsorship deal. SponsR provides help
				from the first step to the final contract and beyond. Stay in contact with your sponsors and build a network for future
				deals. Open the world for your club today - with <b>SponsR</b>.</p>
		</blockquote>
	</md-content>

	<span flex="20"></span>
</div>