<!--<div id="index-page-title">
SponsR
</div>-->
<div layout="column" layout-padding="">
	<span flex="20"></span>
	<md-content id="index-page-description">
		<h1 id="index-page-title" style="font-family: 'Carrois Gothic SC', sans-serif;">SponsR <small>Find your partners.</small></h1>
		
		<!-- start slipsum code -->
		<blockquote>
			<b>Ever wanted to bring you and your sports club to the next level?</b> <br>
			<b>Ever wanted to improve the financial possibilities of it?</b> <br>
			<br>
			SponsR is the right way to do all this and more.
			We at SponsR provide a easy to use plattform to find your perfect sponsor or
			sponsor seeker. It is a easy way for both to connect to each other. Our matching system allows
			to find only offers that fit the needs of both sides. <br>
			Create a listing or search for listings,
			Create a sponsoring offer or search for listings <br>
			SponsR allows everyone to choose an easy way to find the perfect fit.<br>
			<br>
			<b>Not sure what you can expect oder ask for?</b><br>
			<br>
			No problem, our sponsoring tutorials provide all information needed for a successful
			sponsorship deal.
			SponsR provides help from the first step of your search to the final contract and beyond.
			Stay in contact with your sponsors and build a network for future deals.<br>
			Open up the world for your club - with <b>SponsR</b>
		</blockquote>
		<!-- end slipsum code -->
	</md-content>

	<span flex="20"></span>
</div>