<md-card>
    <md-card-title>
        <md-card-title-media>
            <div layout="row" layout-align="center center" layout-padding>
           <!--     <img ng-src="{{$ctrl.getPosterURL()}}" class="md-media-md">-->
            </div>
        </md-card-title-media>
        <md-card-title-text>

            <md-card-actions layout="row" layout-align="end center">
                <!--<md-button class="md-icon-button" aria-label="Edit Item" ng-click="$ctrl.edit()" >
                    <md-icon><ng-md-icon icon="mode_edit"></ng-md-icon></md-icon>
                </md-button>

                <md-button class="md-icon-button"aria-label="Delete Item" ng-click="$ctrl.delete()" >
                    <md-icon><ng-md-icon icon="delete" ></ng-md-icon></md-icon>
                </md-button>-->
            </md-card-actions>

            <span class="md-headline">{{$ctrl.listing.title}}</span>
            <span class="md-subhead">{{$ctrl.listing.type}}</span>

        </md-card-title-text>

    </md-card-title>

    <md-card-content>
        <h4>Money</h4>
        <p>{{$ctrl.listing.amount}} €</p>
        <h4>User</h4>
        <p>{{$ctrl.listing.user}}</p>
        <h4>Postcode</h4>
        <p>{{$ctrl.listing.postcode}}</p>
        <h4>Description</h4>
        <p>{{$ctrl.listing.description}}</p>
    </md-card-content>


</md-card>