<div layout="column" layout-padding>
    <md-content class="login-form md-no-momentum form-outline">
    <h1 class="form-title"> Login </h1>
    <form class="login-form" name="$ctrl.loginForm">
        <md-card class="form-background">
            <md-card-content>
                    <md-input-container class="md-block">
                        <label>Username</label>
                        <input type="text" name="username" ng-model="$ctrl.login.username" required/>
                        <div ng-messages="$ctrl.loginForm.username.$error" role="alert">
                            <div ng-message="required">Please enter your username.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" name="password" ng-model="$ctrl.login.password" required md-maxlength="64"/>
                        <div ng-messages="$ctrl.loginForm.password.$error" role="alert" multiple="">
                            <div ng-message="required">Please enter your password.</div>
                        </div>
                    </md-input-container>
                    <div ng-show="$ctrl.invalidCredentials" role="alert">
                        <div class="error-msg">Invalid Credentials. Please try again.</div>
                    </div>
                    <md-button type="submit" ng-disabled="!$ctrl.loginForm.$valid" ng-click="$ctrl.submit()"
                               class="md-raised md-primary">&nbsp Login &nbsp</md-button>
            </md-card-content>
        </md-card>
    </form>
    </md-content>
</div>