/*TODO: remove after merge with refactor branch?*/
.registration-form md-card {
    padding: 0 !important;
    margin-top: 100px;
}
.registration-form md-card md-card-title md-card-content {
    background-color: blue;
}

/*TODO: move to app-content css*/
.registration-form .error-msg {
    color: rgb(221,44,0);
}
