<md-toolbar>
	<div class="navbar navbar-inverse" style="min-height: auto; border-radius: 0;">
		<div class="container-fluid">
			<form class="navbar-form navbar-left" style="margin: 0;">
				<md-button id="logo-button" class="btn btn-link" aria-label="SponsR" ng-click="$ctrl.goHome()">
					<md-icon><ng-md-icon icon="link"></ng-md-icon></md-icon>
					SponsR
				</md-button>

				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				</div>
			</form>


			<div class="nav navbar-right">
				<md-menu ng-if="$ctrl.isAuthenticated()">
					<md-button aria-label="More" class="md-icon-button" ng-click="$mdMenu.open($event)">
						<md-icon><ng-md-icon icon="more_vert" ></ng-md-icon></md-icon>
					</md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button>
                                <md-icon md-menu-align-target><ng-md-icon icon="account_circle" ></ng-md-icon></md-icon>
                                {{$ctrl.getCurrentUser()}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="$mdMenu.close(); $ctrl.logout()">
                                <md-icon md-menu-align-target><ng-md-icon icon="logout" ></ng-md-icon></md-icon>
                                Logout
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
				</md-menu>
                <md-menu ng-if="!$ctrl.isAuthenticated()">
                    <md-button aria-label="More" class="md-icon-button" ng-click="$mdMenu.open($event)">
                        <md-icon><ng-md-icon icon="more_vert" ></ng-md-icon></md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ng-click="$ctrl.login($event)">
                                <md-icon md-menu-align-target><ng-md-icon icon="login" ></ng-md-icon></md-icon>
                                Login
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="$ctrl.register($event)">
                                <md-icon md-menu-align-target><ng-md-icon icon="add_circle_outline" ></ng-md-icon></md-icon>
                                Register
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
			</div>
			<!--<div class="nav navbar-right">
				<md-menu>
					<md-button aria-label="More" class="md-icon-button" ng-click="$ctrl.openMenu($mdMenu, $event)">
						<md-icon><ng-md-icon icon="more_vert" ></ng-md-icon></md-icon>
					</md-button>
					<md-menu-content ng-if="$ctrl.isAuthenticated()" width="3" ng-mouseleave="$mdMenu.close()">
						<md-menu-item>
							<md-button>
								<md-icon md-menu-align-target><ng-md-icon icon="account_circle" ></ng-md-icon></md-icon>
								{{$ctrl.getCurrentUser()}}
							</md-button>
						</md-menu-item>
						<md-menu-divider></md-menu-divider>
						<md-menu-item>
							<md-button ng-click="$ctrl.logout($event)">
								<md-icon md-menu-align-target><ng-md-icon icon="logout" ></ng-md-icon></md-icon>
								Logout
							</md-button>
						</md-menu-item>
					</md-menu-content>
					<md-menu-content ng-if="!$ctrl.isAuthenticated()" width="3" ng-mouseleave="$mdMenu.close()">
						<md-menu-item>
							<md-button ng-click="$ctrl.login($event)">
								<md-icon md-menu-align-target><ng-md-icon icon="login" ></ng-md-icon></md-icon>
								Login
							</md-button>
						</md-menu-item>
						<md-menu-divider></md-menu-divider>
						<md-menu-item>
							<md-button ng-click="$ctrl.register($event)">
								<md-icon md-menu-align-target><ng-md-icon icon="register" ></ng-md-icon></md-icon>
								Register
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>-->
			<ul class="nav navbar-form navbar-right">
				<li ng-if="$ctrl.isAuthenticated()">
					Logged in as {{$ctrl.getCurrentUser()}}
					<ng-md-icon id="account-avatar" icon="account_circle" ></ng-md-icon>
				</li>
			</ul>


		</div>
		<div class="container-fluid">
			<md-button class="btn btn-link" aria-label="Find Sponsors" ng-click="$ctrl.findSponsors()">
				Find Sponsors
			</md-button>

			<md-button class="btn btn-link" aria-label="Find SponsorSeekers" ng-click="$ctrl.findSponsorSeekers()">
				Find Sponsor Seekers
			</md-button>

			<md-button class="btn btn-link" aria-label="Create New Listing" ng-click="$ctrl.newListing()">
				Create New Listing
			</md-button>

			<md-button class="btn btn-link" aria-label="YourListings" ng-click="$ctrl.viewYourListings()">
				Your Listings
			</md-button>

			<button class="btn btn-link" type="button">Legal Advice</button>

			<button class="btn btn-link" type="button">Tutorials</button>

			<button class="btn btn-link" type="button">Messages</button>
		</div>
	</div>
</md-toolbar>