<!--<div id="index-page-title">
SponsR
</div>-->
<div layout="column" layout-padding="">
	<span flex="20"></span>
	<md-content id="index-page-description">
		<h1 id="index-page-title" style="font-family: 'Carrois Gothic SC', sans-serif;">SponsR <small>Learn to do it.</small></h1>

	</md-content>
	<blockquote>
		<p>As a small sports club or a small business, it is very difficult to know how to approach sponsorship related topics.
		For the most part, it is about communication and knowledge about the partner on the other end of the conversation.
			This section should give you an overview about the most important things for sponsors and sports clubs regarding sponsorship deals.</p>

		<b>Communication.</b>

		<p>Besides legal aspects (which you can find here), communication is likely the most important part in finding a sponsor or a party your business can sponsor.
		First of all, it is important to make your standpoint clear. Tell the other party exactly what you expect from them and what you are able to give in return.
		Do not hide information, that will come out in process later on. It is far more effective and constructive to fully communicate your opinion and needs,
		even though they might differ from the ones of your counter-part. Negotiating about differences is far more effective then hiding important information just
			to go in line with the other party.</p>

		<b>Knowing each other.</b>

		<p>It is important for both sides, to think about the position of each other. For a sponsor-seeking entity it is necessary to think about the financial background
		the potential sponsor has, in order to ask for a suitable amount of money. On the other hand it is important for the sponsor to know the situation of the SSE.
			It will help him to understand its needs and why he asking for something. Besides that, gives a good understanding of each other, the room to negotiate.</p>

		<b>Asking and saying no.</b>

		<p>Much like the first part about communication, this part is aiming for openness. Openess includes two very crucial aspects. The first one is asking and having the
		courage to ask for something. Many people do not want to ask because they fear the answer or the reaction of the other party. However, it is very important to understand,
		that asking is everything in finding a sponsor. The worst thing that can happen is him saying no. This sums it up very nicely and leads to the other part of openness.
		Learn to say no. It does not help anyone if you cannot say no to something. It is difficult to reject something and ‘hurt’ the other one, but it is far better then let the
			other one wait or to play along with somebody.</p>

	</blockquote>
	<div align="center">
	<iframe width="853" height="480" src="https://www.youtube.com/embed/uZgh6dRTBCo?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
	<span flex="20"></span>
</div>