<!--<div id="index-page-title">
SponsR
</div>-->
<div layout="column" layout-padding="">
	<span flex="20"></span>
	<md-content id="index-page-description">
		<h1 id="index-page-title" style="font-family: 'Carrois Gothic SC', sans-serif;">SponsR <small>Learn to do it.</small></h1>

	</md-content>
	<blockquote>
		Und hier ??? ????????
	</blockquote>
	<div align="center">
	<iframe width="853" height="480" src="https://www.youtube.com/embed/uZgh6dRTBCo?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
	<span flex="20"></span>
</div>