<!--<div id="index-page-title">
SponsR
</div>-->
<div layout="column" layout-padding="">
	<span flex="20"></span>
	<md-content id="index-page-description">
		<h1 id="index-page-title" style="font-family: 'Carrois Gothic SC', sans-serif;">SponsR <small>Do it safe.</small></h1>
		<div id="navbar-advice" class="navbar navbar-inverse" style="min-height: auto; border-radius: 0;">

			<button id="button-sponsor" class="btn btn-link" type="button" >Messages</button>

			<button id="button-seeker" class="btn btn-link" type="button">Tutorials</button>
		</div>

	</md-content>
	<blockquote>

		<p><b>Definition Sponsoring:</b> "die Gewährung von Geld oder geldwerten Vorteilen durch Unternehmen zur Förderung
		von Personen, Gruppen und/oder Organisationen in sportlichen, kulturellen, kirchlichen, wissenschaftlichen,
		sozialen, ökologischen oder ähnlich bedeutsamen gesellschaftspolitischen Bereichen, mit der regelmäßig auch
			eigene unternehmensbezogene Ziele der Werbung oder Öffentlichkeitsarbeit verfolgt werden"</p>

		<p><b>Rechtliche Grundlage:</b> Schreiben des Bundesministerium für Finanzen (BMF) vom 18. 2. 1998 über die
			ertragsteuerliche Behandlung des Sponsorings (Sponsoring-Erlass)</p>
		<b>Steuerliche Zuordnung von Sponsoreneinnahmen</b>
		<p>Grundsätzlich können Sponsorengelder drei steuerlichen Bereichen eines gemeinnützigen
			Vereins zugeordnet werden:<br>
		<li>dem ideellen Bereich; sie werden also steuerlich wie Spenden behandelt; dies darf als
		Ausnahme gewertet werden, da Sponsoring i.d.R. auf dem Prinzip „Leistung gegen
			Leistung" beruht,</li>
		<li>der ebenfalls steuerfreien Vermögensverwaltung; es handelt sich hier um einen
			speziellen Gestaltungsfall der Verpachtung von Werberechten,</li>
		<li>dem steuerpflichtigen wirtschaftlichen Geschäftsbetrieb; dies ist der Regelfall.</li></ul></p><br>
		<table style="width:100%">
			<tr>
				<th>passive sponsoring</th>
				<th>active sponsoring</th>
			</tr>
			<tr>
				<td>small or none compensation by the sponsored entity. Possibly through advertisement  </td>
				<td>sponsored entity is actively advertising the sponsor</td>
			</tr>
		</table><br>
		<b>Umsatzsteuerliche Behandlung</b>
		<p>Umsatzsteuerpflichtig sind die vom Gesponserten in Erfüllung seiner vertraglichen Verpflichtungen für den
		Sponsor ausgeführten Lieferungen und Leistungen. Der Gesponserte hat die auf seine Umsätze entfallende
		Umsatzsteuer zu entrichten.
		Bei Zahlungen im Rahmen des Sponsoring handelt es sich grundsätzlich um das Entgelt für steuerpflichtige
		Leistungen der steuerbegünstigten Einrichtung an den Sponsor (§ 1 Abs. 1 Nr. 1 UStG). Entweder liegen nach
		dem jeweiligen Sponsoring-Vertrag konkrete Werbeleistungen (z.B. Banden- oder Trikotwerbung, Anzeigen,
		Vorhalten von Werbedrucken, Lautsprecherdurchsagen usw.) oder Duldungsleistungen (z.B. durch Aufnahme
		des Emblems oder Logos des Sponsors in Verbandsnachrichten, Rechenschaftsbericht, Veranstaltungshinweise
			oder Ausstellungskataloge) vor.</p>
	</blockquote>

	<span flex="20"></span>
</div>