<!--<div id="index-page-title">
SponsR
</div>-->
<div layout="column" layout-padding="">
	<span flex="20"></span>
	<md-content id="index-page-description">
		<h1 id="index-page-title" style="font-family: 'Carrois Gothic SC', sans-serif;">SponsR <small>Do it safe.</small></h1>
		<div id="navbar-advice" class="navbar navbar-inverse" style="min-height: auto; border-radius: 0;">

			<button id="button-sponsor" class="btn btn-link" type="button" >Messages</button>

			<button id="button-seeker" class="btn btn-link" type="button">Tutorials</button>
		</div>

	</md-content>
	<blockquote>
		Was schreiben wir hier so rein ????????
	</blockquote>

	<span flex="20"></span>
</div>