<!--<div id="index-page-title">
SponsR
</div>-->
<div layout="column" layout-padding="">
	<span flex="20"></span>
	<md-content id="index-page-description">
		<h1 id="index-page-title" style="font-family: 'Carrois Gothic SC', sans-serif;">SponsR <small>Do it safe.</small></h1>

	</md-content>
	<blockquote>

		<p><b>Definition of sponsoring:</b> is the granting of financial resources in order to promote persons, groups of people
			or organizations in sports, culture, science and many more. The main target can be either to facilitate the sponsored
			partner to further accomplish their goals, or to follow personal/organizational interests.</p>

		<p><b>Legal base:</b> The legal base for sponsoring is different in each country. In Germany, the "Schreiben des Bundesministerium für Finanzen (BMF)" is defining
		the handling of sponsorship deals</p>
		<b>Tax regulations for sponsorship income</b>
		<p>In Germany, sponsorship income can be assigned two three different areas  :<br>
		<li>the case where sponsorship income is seen as a donation (this is seldom the case).</li>
		<li>the case of tax free fund management. This is a special case in which advertisment rights are sold.</li>
		<li>and the basic taxable case (based on the service for service principle).</li></ul></p><br>
		<table style="width:100%">
			<tr>
				<th>Passive sponsoring</th>
				<th>Active sponsoring</th>
			</tr>
			<tr>
				<td>Small or none compensation by the sponsored entity. Possibly through advertisement  </td>
				<td>Sponsored entity is actively advertising the sponsor</td>
			</tr>
			<tr>
				<th>Booking of income in the fund management</th>
				<th>Booking of income in the business operations </th>
			</tr>
			<tr>
				<td>Use of logo and naming rights by the sponsor</td>
				<td>Selling of adresses to the sponsor</td>
			</tr>
			<tr>
				<td>Naming of sponsoring activities for example in the newspaper or the local journal</td>
				<td>Puplic advertisement in the media</td>
			</tr>
			<tr>
				<td>Naming of stadiums or places after the sponsor</td>
				<td>High influence of a sponsor on events</td>
			</tr>
			<tr>
				<td>Invite sponsors to events</td>
				<td>Organizing events by sponsors</td>
			</tr>
		</table><br>
		Basics were taken from <a href="http://www.ngo.de/images/stories/fundraising/spenden_und_sponsoring/rechtliche_grundlagen_des_sponsoring.pdf">here</a>.
	</blockquote>

	<span flex="20"></span>
</div>